/* Add styling for your page here */

@font-face {
    font-family: titlefont;
    src: url(./ds_digital/DS-DIGIB.TTF);
}

@font-face {
    font-family: bodyfont;
    src: url(./nexa/Nexa-Trial-Regular.ttf);}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: baseline;
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    font-family: bodyfont;
    size: 16px;
}

#links p:hover{
    color: #494A54;
}

#name p{
    font-family: titlefont;
    font-size: 20px;
}

.bio {
    font-family: bodyfont;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects img{
    width: 350px;
    height: 300px;
    border: #BABDD1 solid 1px;
    border-radius: 10px;
}

.projects img:hover{
    border: black solid 1px;
    
}

.projects {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 10px;
}

#development {
  align-items: center;
  background: #BABDD1;
  border-radius: 10px;
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#development p{
    display: flex;
    flex-wrap: wrap;
    font-family: bodyfont;
    font-size: 16px;
    color:black;
}


#development h3{
    font-family: bodyfont;
    color:black;
}

#development h3:hover {
    color: #494A54;
}

#responsive-redesign {
    align-items: center;
    background: #BABDD1;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

#responsive-redesign p{
    display: flex;
    flex-wrap: wrap;
    font-family: bodyfont;
    font-size: 16px;
    color:black;
}


#responsive-redesign h3{
    font-family: bodyfont;
    color:black;
}

#responsive-redesign h3:hover {
    color: #494A54;
}

#personas {
    align-items: center;
    background: #BABDD1;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

#personas p{
    display: flex;
    flex-wrap: wrap;
    font-family: bodyfont;
    font-size: 16px;
    color:black;
}

#personas h3{
    font-family: bodyfont;
    color:black;
}

#personas h3:hover {
    color: #494A54;
}

#react-studio {
    align-items: center;
    background: #BABDD1;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

#react-studio p{
    display: flex;
    flex-wrap: wrap;
    font-family: bodyfont;
    font-size: 16px;
    color:black;
}

#react-studio h3{
    font-family: bodyfont;
    color:black;
}

#react-studio h3:hover {
    color: #494A54;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}

.contact p{
    font-family: bodyfont;
    font-size: 16 px;
}

.contact p:hover{
    color: #494A54;
}











